/* begin cohort page */

.cohort_main div{
    height: auto;
}

.cohort_position{
    display:inline-block;
    text-align:center;
    font-family: franchise;
    font-size:3.2rem;
}
.capital_letters{
    font-size:3.8rem;
}
#cohort_content{
    display: inline-block;
    width:90rem;
    height: auto;
}
.content{
    text-transform:none; 
    font-size:1.7rem;
    text-align: left;
    line-height:2.5rem;
    width:98%;
    display:inline-block;
    margin-bottom:1rem;
}
#content_ol{
    margin:0;
    padding:1rem 0 1rem 0;
    width:90%;
}
.cohort_footer{
    display: inline-block;
    width:100%;
    height:auto;
    background-color:#7A1501;
}
.cohort_div{
    width:100rem;
    height:auto;
    display: inline-block;
    margin:0 auto;
    font-size:1.7rem;
}

.cohort_label{
    display:inline-block;
    width:100rem;
    height:5rem;
    font-size:2rem;
    text-align: left;
    background-color:#F9DA0C
}
.cohort_label span{
    position:relative;
    top:1rem;
    left:1rem;
}
#this_year_cohorts{
    display: none;
}
#cohort_input{
    display:none;
}

#cohort_input:checked + #this_year_cohorts{
    display:block;
}
 /* second label and input*/



.cohort_label2{
    display:inline-block;
    width:100rem;
    height:5rem;
    font-size:2rem;
    text-align: left;
    background-color:#F9DA0C;
    margin-top:2rem;
}
.cohort_label2 span{
    position:relative;
    top:1rem;
    left:1rem;
}
#this_year_cohorts2{
    display: none;
}
#cohort_input2{
    display:none;
}

#cohort_input2:checked + #this_year_cohorts2{
    display:block;
}

#cohort_title{
    font-size:2.5rem;
    color:white;
}
.cohort_pictures_div{
    background-color:#ffffff;
    color:black;
    height:100rem;
}
.cohort_pic{
    text-align: center;
    margin:1rem 0 1rem 0;
    width:calc(100%/4);
    display:inline-block;
    float:left;
    background-color:#ffffff;
    height: auto;
}
.cohort_pic img{
    height:15rem;
}
.cohort_names{
    margin:1rem 0 1rem 0;
}
.cohort_text_left{
    display:inline-block;
    text-align:left;
    width:90%;
}

/* added extra footer to make it look like the is a space between the cohort label and the bottom of page, but it was breaking too much so it was greyed out.  may or may not use it again. fixed it by adding margin bottom to second cohort label */

/*
.extra_footer{
    display:block;
    height:2rem;
    width:100%;
    background-color:#7A1501;
    margin:0;
    padding:0;
}*/

/* start media query for cohort page */
@media only screen and (max-width:1017px){
    
    #cohort_content{
        width:98%;
        margin-top:3rem;
    }
.cohort_label{
    width:100%;
}
    
 /* second label and input*/

.cohort_label2{
    width:100%;
}
    .cohort_div{
        width:100%;
    }
    .cohort_pictures_div{
        width:100%;
        height:auto;
        display: inline-block;
    }
.cohort_pictures_div > p{
    text-align: center;
    margin-top:5px;   
    width:calc(100%/3);
    display: inline-block;
    
}
    
    .cohort_pic:nth-child(7){
        float:none;
    }
    .cohort_pic:nth-child(8){
        float:none;
    }
    .cohort_pic span{
        width:23rem;
        display:inline-block;
    }
.cohort_names{
    font-size:2rem;
}
.cohort_text_left{
    display:inline-block;
    text-align:left;
    width:90%;
}

    
}

/* cohort media query max width 930px, to keep owl visible */

@media only screen and (max-width:930px){
    
    #cohort_owl_visible{
        display: block;
        margin-top:3.5rem;
    }
    
    #cohort_nav{
        background-color: white;
    }
    
    .cohort_position{
        height: auto;
    }
    
    #cohort_content{
        margin-top:7rem;
    }
    
    
}

/* added phone size media query for cohort page to display the images and its content in one column only */

@media only screen and (max-width:767px){
   
 /* second label and input*/

    .cohort_div{
        width:auto;
        height:auto;
    }
    .cohort_pictures_div{
        height:auto;
    }
    .cohort_pictures_div > p{
        width:100%;
        height:auto;
    }
    .cohort_pictures_div > p > img{
        width:60%;
        height:auto;
        
    }
    .cohort_pic span{
        width:60%;
        line-height: 2.1rem;
    }
    .cohort_pic:nth-child(7){
        float:left;
        position:relative;
        top:-0rem;
    }
    .cohort_label{
        height:6rem;
    }
    .cohort_label2{
        height:6rem;
    }
    .cohort_label span{
    position:relative;
    top:2rem;
    }
    .cohort_label2 span{
    position:relative;
    top:2rem;
    }
}

/* media query for cohort page max width 283px */


@media only screen and (max-width:313px){
    
    #cohort_content{
        margin-top:11rem;
    }
}



/* end cohort page */